<!DOCTYPE html>
<html lang="es">
<head>
	<title>Eventos Mtb</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/logoManizales.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/icons/logoManizales.png" alt="IMG-LOGO" data-logofixed="images/icons/logoManizales.png">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a href="inicio">Inicio</a>
                                </li>

                                <li>
                                    <a href="rutasMtb">Rutas</a>
                                </li>

                                <li>
                                    <a href="grupos">Grupos Mtb</a>
                                </li>

                                <li>
                                    <a href="eventos">Eventos Mtb</a>
                                </li>

                                <li>
                                    <a href="contacto">Contacto</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Social -->
                    <div class="social flex-w flex-l-m p-r-20">
                        <a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

                        <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar trans-0-4">
        <!-- Button Hide sidebar -->
        <button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

        <!-- - -->
        <ul class="menu-sidebar p-t-95 p-b-70">
            <li class="t-center m-b-13">
                <a href="inicio" class="txt19">Inicio</a>
            </li>

            <li class="t-center m-b-13">
                <a href="grupos" class="txt19">Grupos Mtb</a>
            </li>

            <li class="t-center m-b-13">
                <a href="eventos" class="txt19">Eventos Mtb</a>
            </li>

            <li class="t-center m-b-13">
                <a href="contacto" class="txt19">Contactanos</a>
            </li>

            <li class="t-center">
                <!-- Button3 -->
                <a href="rutasMtb" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
                    Rutas
                </a>
            </li>
        </ul>
    </aside>






	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/slide/slider10.png);">
		<h2 class="tit6 t-center">
			Eventos Mtb
		</h2>
	</section>


	

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9">
					<div class="p-t-80 p-b-124 bo5-r h-full p-r-50 p-r-0-md bo-none-md">
						<!-- Event 1-->
						<div class="blo4 p-b-63">
							<div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
								<a href="blog-detail.html">
									<img src="images/eventos/eventoFeria.jpg" alt="IMG-BLOG">
								</a>

								<div class="date-blo4 flex-col-c-m">
									<span class="txt30 m-b-4">
										05
									</span>

									<span class="txt31">
										Enero, 2020
									</span>
								</div>
							</div>

							<div class="text-blo4 p-t-33">
								<h4 class="p-b-16">
									<a href="blog-detail.html" class="tit9">Travesia de la montaña</a>
								</h4>

								<div class="txt32 flex-w p-b-24">
									<span>
										by Admin
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										05 Enero, 2020
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										Eventos, MTB
										<span class="m-r-6 m-l-4">|</span>
									</span>

								</div>

								<p>
                                    Ven y descubre la belleza de nuestra tierra , en la travesía
                                     de la montaña feria de Manizales 2020 por los caminos 
                                     cafeteros !! Prepárate para disfrutar de los mágicos paisajes
                                      de nuestras montañas !! <a class="tit0 t-center">#feriademanizales #ejecafetero #mtbcolombia #caldas</a> 
								</p>

								<a href="blog-detail.html" class="dis-block txt4 m-t-30">
									Mas información
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<!-- Event 2 -->
						<div class="blo4 p-b-63">
							<div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
								<a href="blog-detail.html">
									<img src="images/eventos/eventoMariquita.png" alt="IMG-BLOG">
								</a>

								<div class="date-blo4 flex-col-c-m">
									<span class="txt30 m-b-4">
										26
									</span>

									<span class="txt31">
										Enero, 2020
									</span>
								</div>
							</div>

							<div class="text-blo4 p-t-33">
								<h4 class="p-b-16">
									<a href="https://www.facebook.com/travesiadelamontanamanizales/" target="_blank" class="tit9">Reto Mariquita-Letras</a>
								</h4>

								<div class="txt32 flex-w p-b-24">
									<span>
										by Admin
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										26 Enero, 2020
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										Eventos, MTB
										<span class="m-r-6 m-l-4">|</span>
									</span>

								</div>

								<p>
                                    En el 2019 ¡hicimos historia! más de 2.000 ciclistas de todo Colombia
                                    estuvimos presentes en el <a class="tit0 t-center">#RetoMariquitaLetras</a>  
                                    II versión. recorriendo los 80 kms del puerto de montaña más largo del mundo y uno de los mas
                                     alto de Colombia. llega el 2020 el año del Récord Guinness donde 
                                     contaremos con la participación de 5.000 ciclistas por primera vez 
                                     en un evento de ciclismo en Colombia. ¿Te atreves?  
								</p>

								<a href="https://www.facebook.com/events/364878091045570/" target="_blank" class="dis-block txt4 m-t-30">
									Mas información
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						
					</div>
				</div>

				<div class="col-md-4 col-lg-3">
					<div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
						<!-- Search -->
						<div class="search-sidebar2 size12 bo2 pos-relative">
							<input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search" placeholder="Search">
							<button class="btn-search-sidebar2 flex-c-m ti-search trans-0-4"></button>
                        </div>
                           <br>
                           <br>
                      
                            <!-- Button1 -->
                            <a href="#popup" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto" class="popup-link" >
                                Crear Evento
                            </a>
                      


						</div>
					</div>
				</div>
			</div>

			<div class="modal-wrapper" id="popup">
				<div class="popup-contenedor">
						<span class="tit2 t-center">
								Crear
							</span>
				
				   <form id="formEvento"> 
						<label >
							<a class="t-left" m-b-22 m-l-r-auto fs-12">A continuación encontrara los campos necesarios para solicitar
									la publicación de un evento de ciclomontañismo proximo en la ciudad
									de Manizales o municipios aledaños, es necesario
									diligenciar todos los campos, y el administrador en los proximos días lo 
									apropabará o negara según sea el caso. </a>
						</label>
						<table id ="tabla" class="t-left"> 
							<tr>
								<td><label form="nombre" class="txt4">Nombre del evento: </label></td>
								<td><input name="nombreEvento" type="text"></td>
							</tr>
							<br>
							<tr>
									<td><label class="txt4">Fecha: </label></td>
									<td><input name="fechaEvento" type="date"  value="2019-10-05" class="txt4 t-center"><label class="txt4">Hora: </label><input name="hora" type="time" value="12:00" class="txt4 t-center"></td>
							</tr>
							<br>
							<tr>
								<td><label class="txt4">Lugar: </label></td>
								
							</tr>
							<br>
							<tr>
								<td><label class="txt4">Imagen: </label>  </td>
								<td><input name="file" type="file" size="2mb" class="txt4"></td>
							</tr>
							<br>
 

						</table>
						<br>
						<textarea name="infoEvento" placeholder="Agrega información adicional sobre el evento" rows="5" cols="50" ></textarea>
						<!-- Button1 -->
						<a href="#popup" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto" class="popup-link" >
								Enviar
							</a>

				   </form>
				   <a class="popup-cerrar" href="#">X</a>
				</div>
			 </div>



	<!-- Footer -->
	<footer class="bg1">
		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Natalia Erira &copy; 2019 
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>

<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
