<!DOCTYPE html>
<html lang="es">
<head>
	<title>Grupos Mtb</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/logoManizales.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

		<!-- Header -->
		<header>
			<!-- Header desktop -->
			<div class="wrap-menu-header gradient1 trans-0-4">
				<div class="container h-full">
					<div class="wrap_header trans-0-3">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html">
								<img src="images/icons/logoManizales.png" alt="IMG-LOGO" data-logofixed="images/icons/logoManizales.png">
							</a>
						</div>
	
						<!-- Menu -->
						<div class="wrap_menu p-l-45 p-l-0-xl">
							<nav class="menu">
								<ul class="main_menu">
									<li>
										<a href="inicio">Inicio</a>
									</li>
	
									<li>
										<a href="rutasMtb">Rutas</a>
									</li>
	
									<li>
										<a href="grupos">Grupos Mtb</a>
									</li>
	
									<li>
										<a href="eventos">Eventos Mtb</a>
									</li>
	
									<li>
										<a href="contacto">Contacto</a>
									</li>
								</ul>
							</nav>
						</div>
	
						<!-- Social -->
						<div class="social flex-w flex-l-m p-r-20">
							<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>
	
							<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
						</div>
					</div>
				</div>
			</div>
		</header>
	
		<!-- Sidebar -->
		<aside class="sidebar trans-0-4">
			<!-- Button Hide sidebar -->
			<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
	
			<!-- - -->
			<ul class="menu-sidebar p-t-95 p-b-70">
				<li class="t-center m-b-13">
					<a href="inicio" class="txt19">Inicio</a>
				</li>
	
				<li class="t-center m-b-13">
					<a href="grupos" class="txt19">Grupos Mtb</a>
				</li>
	
				<li class="t-center m-b-13">
					<a href="eventos" class="txt19">Eventos Mtb</a>
				</li>
	
				<li class="t-center m-b-13">
					<a href="contacto" class="txt19">Contactanos</a>
				</li>
	
				<li class="t-center">
					<!-- Button3 -->
					<a href="rutasMtb" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
						Rutas
					</a>
				</li>
			</ul>
		</aside>
	
	


	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/slide/slider09.png);">
		<h2 class="tit6 t-center">
			Grupos Mtb en Manizales
		</h2>
	</section>


	<!-- Our Story -->
	<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
		<span class="tit2 t-center">
			Disfruta del cicloturismo
		</span>

		<h3 class="tit3 t-center m-b-35 m-t-5">
			Con los grupos MTB Manizales
		</h3>

		<p class="t-center size32 m-l-r-auto">
			Uno de los principales atributos que tiene ¡mi manizales del alma! es su gente, 
			en esta sección encontraras unas serie de grupos que se reunen uno o varios dias 
			en la semana para realizar rodadas nocturnas o diurnas por las maravillosas rutas 
			de montaña con las que contamos en la región, con el unico interés de realizar 
			deporte, divertirse mientras se atraviesan bellos paisajes.  
		</p>
	</section>




	<!-- Descripción de grupos-->
	<section class="bg1-pattern p-t-120 p-b-105">
		<div class="container">
			<!-- ArrierosBici -->
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-delicious t-center">
						<img class="logosGrupo" src="images/Grupos/arrierosBici/logo.jpg">

						<h3 class="tit3 t-center m-b-35 m-t-5">
							Arrieros en Bici
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							Arrieros es un grupo de ciclomontañismo manizalita
							sin animo de lucro, con la unica intensión de incentivar el deporte
							y rodar agradablemente, ven y acompañanos en nuestras rodadas mañaneras 6am 
							Lunes y Miercoles, punto de encuentro facultad de Arquitectura UN
						</p>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-delicious size3 bo-rad-10 hov-img-zoom m-l-r-auto" class="selection-group">
						<section >
							<div class="wrap-slick1"  >
								<div class="slick1">

									<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/arrierosBici/01.jpg);"></div>
									
									<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/arrierosBici/02.jpg);"></div>
									
									<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/arrierosBici/03.jpg);"></div>
					
									<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/arrierosBici/04.jpg);"></div>
					
								</div>		
								
							</div>
						</section>
					</div>
				</div>
			</div>


			<!-- BikeRiders-->
			<div class="row p-t-170">
					<div class="col-md-6 p-b-30">
						<div class="wrap-pic-romantic size3 bo-rad-10 hov-img-zoom m-l-r-auto">
								<section >
										<div class="wrap-slick2"  >
											<div class="slick2">
			
												<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/bikeRiders/01.jpg);"></div>
												
												<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/bikeRiders/02.jpg);"></div>
												
												<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/bikeRiders/03.jpg);"></div>
								
												<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/bikeRiders/04.jpg);"></div>
								
											</div>		
											
										</div>
										
									</section>
									
						</div>
						
					</div>
					
	
					<div class="col-md-6 p-t-45 p-b-30">
						<div class="wrap-text-romantic t-center">
							<img class="logosGrupo" src="images/Grupos/parceros/logo.jpg">
	
							<h3 class="tit3 t-center m-b-35 m-t-5">
								Bike Riders
							</h3>
	
							<p class="t-center m-b-22 size3 m-l-r-auto">
									<div id="morecsspure3">
											<input id="morecsspure-element-toggle3" type="checkbox" />
											<div id="morecsspure-abstract3">
												<p>En Bike riders más que un grupo de ciclismo somos una familia,
													te invitamos a que te unas a nosotros y disfrutes de los maravillosos 
													paisajes de nuestra ciudad con risas, hermandad y deporte. Te esperamos, martes 
													y jueves 7pm  y domingo 6am. Lugar de encuentro triangulo.
												</p>
											</div>
							</p>
						</div>
					</div>
				</div>
		

		<!-- laBiciEstaDeModa -->
		<div class="row p-t-170">
			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-delicious t-center">
					<img class="logosGrupo" src="images/Grupos/laBiciEstaDeModa/logo.jpg">

					<h3 class="tit3 t-center m-b-35 m-t-5">
						#labici esta de moda
					</h3>

					<p class="t-center m-b-22 size3 m-l-r-auto">
							<div id="morecsspure2">
									<input id="morecsspure-element-toggle2" type="checkbox" />
									<div id="morecsspure-abstract2">
										<p>Queremos que vivas de excelentes experiencias con el Movimiento #LaBiciEstaDeModa, 
												disfrutar del paisaje cultural cafetero, y de la belleza arquitectónica de nuestra ciudad!
												Tenemos diferentes tipos de rutas:<br>
													<b>°Largas Trochas y Montañas:</b> Que son salidas de larga duración donde mezclamos trochas 
													con descensos Downhill, de los cuales puede participar cualquier público, pues lo hacemos 
													fraccionando las rutas de manera que puedan participar ...</p>
									</div>
									<div id="morecsspure-toggled-element2">
											Queremos que vivas de excelentes experiencias con el Movimiento #LaBiciEstaDeModa, 
											disfrutar del paisaje cultural cafetero, y de la belleza arquitectónica de nuestra ciudad!
											Tenemos diferentes tipos de rutas:<br>
												<b>°Largas Trochas y Montañas:</b> Que son salidas de larga duración donde mezclamos trochas 
												con descensos Downhill, de los cuales puede participar cualquier público, pues lo hacemos 
												fraccionando las rutas de manera que puedan participar novatos, expertos y avanzados.
												(Domingos 7:00 Am Torre del Cable Manizales)
					
												<b>°Rodadas Nocturnas de Montaña:</b> Estas rutas tienen una característica muy especial, 
												pues la connotación que le da la noche a nuestra región, el clima, la calidad del aire, 
												hace que los ciclistas vivan de gratas experiencias. (Miércoles = 7:00 Pm Torre del Cable)<br>
					
												<b>°Rodadas Nocturnas Urbanas:</b> Implementamos un recorrido arquitectónico por toda la ciudad, 
												con un guía turístico que nos va contando la historia del centro histórico, y con música celebramos
												 nuestra cultura ciclista. (Viernes  = 7:00 Pm Torre del Cable)<br>
					
												Esto no tiene ningún costo, y nuestro equipo es un voluntariado muy técnico que día a día está pensando 
												el desarrollo de la movilidad y estilo de vida de la ciudad!
									</div>
									<label for="morecsspure-element-toggle2" id="morecsspure-trigger-toggle2"><span class="morecsspure-morelink tit0 t-center" >Seguir leyendo ></span><span class="morecsspure-lesslink tit0 t-center">Mostrar menos</span></label>
								</div>
						
				</div>
			</div>
			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-delicious size3 bo-rad-10 hov-img-zoom m-l-r-auto">
						<section >
								<div class="wrap-slick3">
									<div class="slick3">
	
										<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/laBiciEstaDeModa/04.jpg);"></div>
										
										<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/laBiciEstaDeModa/02.jpg);"></div>
										
										<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/laBiciEstaDeModa/03.jpg);"></div>
						
										<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/laBiciEstaDeModa/01.jpg);"></div>
						
									</div>		
									
								</div>
								
							</section>
				</div>
			</div>
		</div>

			<!-- Parceros-->
			<div class="row p-t-170">
				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-romantic size3 bo-rad-10 hov-img-zoom m-l-r-auto">
							<section >
									<div class="wrap-slick4"  >
										<div class="slick4">
		
											<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/parceros/01.jpg);"></div>
											
											<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/parceros/02.jpg);"></div>
											
											<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/parceros/03.jpg);"></div>
							
											<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/parceros/04.jpg);"></div>
							
										</div>		
										
									</div>
									
								</section>
					</div>
				</div>

				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-romantic t-center">
						<img class="logosGrupo" src="images/Grupos/parceros/logo.jpg">

						<h3 class="tit3 t-center m-b-35 m-t-5">
							Parceros
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							<div id="morecsspure">
								<input id="morecsspure-element-toggle" type="checkbox" />
								<div id="morecsspure-abstract">
									<p>Parceros MTB Manizales es un grupo ciclístico que tiene como fin rodar 
											en familia por diferentes rutas de nuestra ciudad. De esta manera podemos 
											lograr dos objetivos principales, crear y fortalecer lazos de amistad al mismo
											 tiempo que conocer los hermosos paisajes que nuestra región ofrece.  Buscamos 
											 promover el uso de la bici para preservar nuestro ambiente y ...</p>
								</div>
								<div id="morecsspure-toggled-element">
									<p>Parceros MTB Manizales es un grupo ciclístico que tiene como fin rodar 
											en familia por diferentes rutas de nuestra ciudad. De esta manera podemos 
											lograr dos objetivos principales, crear y fortalecer lazos de amistad al mismo
											 tiempo que conocer los hermosos paisajes que nuestra región ofrece.  Buscamos 
											 promover el uso de la bici para preservar nuestro ambiente y fomentar un estilo 
											 de vida saludable por medio del deporte. Adicional a estas finalidades, Parceros 
											 MTB Manizales tiene como objetivo realizar obras sociales, siempre con la mira en 
											 ayudar a los más necesitados y tratando de abordar toda la población. Nuestros lemas 
											 son “un parcero no se deja atrás” “Rendirse no es una opción” y siempre en nuestras 
											 rutas “sumamos kilómetros de amistad.”  </p>
									
								</div>
								<label for="morecsspure-element-toggle" id="morecsspure-trigger-toggle"><span class="morecsspure-morelink tit0 t-center">Seguir leyendo ></span><span class="morecsspure-lesslink tit0 t-center">Mostrar menos</span></label>
							</div> 
						</p>
					</div>
				</div>
			</div>

			<!-- TeamBike -->
		<div class="row p-t-170">
			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-delicious t-center">
					<img class="logosGrupo" src="images/Grupos/teamBike/logo.jpg">

					<h3 class="tit3 t-center m-b-35 m-t-5">
						Team Bike
					</h3>

					<p class="t-center m-b-22 size3 m-l-r-auto">
						Somos un grupo nuevo que nace de el compañerismo y la ayuda mutua siempre,
						te invitamos a que fortalezcas esté grupo de buenas vibras y amor al deporte,
						salidas todos los Jueves 5 am en el parque de la mujer. ANIMATE Y RUEDA CON NOSOTROS
					</p>
				</div>
			</div>
			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-delicious size3 bo-rad-10 hov-img-zoom m-l-r-auto">
						<section >
										<div class="wrap-slick5"  >
											<div class="slick5">
			
												<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/teamBike/01.jpg);"></div>
												
												<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/teamBike/02.jpg);"></div>
												
												<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/teamBike/03.jpg);"></div>
								
												<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/teamBike/04.jpg);"></div>
								
											</div>		
										</div>
										
									</section>			
				</div>
			</div>
		</div>

		<!-- xtremeBike-->
		<div class="row p-t-170">
			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-romantic size3 bo-rad-10 hov-img-zoom m-l-r-auto">
						<section >
								<div class="wrap-slick6"  >
									<div class="slick6">
	
										<div class="item2-slick1 item1-slick1" style="background-image: url(images/Grupos/xtremeBike/01.jpg);"></div>
										
										<div class="item2-slick1 item2-slick1" style="background-image: url(images/Grupos/xtremeBike/02.jpg);"></div>
										
										<div class="item2-slick1 item3-slick1" style="background-image: url(images/Grupos/xtremeBike/03.jpg);"></div>
						
										<div class="item2-slick1 item4-slick1" style="background-image: url(images/Grupos/xtremeBike/04.jpg);"></div>
						
									</div>		
									
								</div>
								
							</section>
				</div>
			</div>

			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-romantic t-center">
					<img class="logosGrupo" src="images/Grupos/xtremeBike/logo.jpg">

					<h3 class="tit3 t-center m-b-35 m-t-5">
						Xtreme Bike
					</h3>

					<p class="t-center m-b-22 size3 m-l-r-auto">
						En xtreme bike nuestra filosofia es nunca se deja a nadie solo, somos un grupo
						de buenas amistades y amor a la biela, te invitamos a que ruedes con nosotros y conozcas 
						los innumerables paisajes y rutas con las que contamos en Caldas con cultura y respeto
						por la naturaleza, ven a nuestras rodadas nocturnas los Miercoles a las 7pm y nuestras rutas 
						largas los domingos a las 7am para recorrer junto a amantes a la bici Caldas, te esperamos, 
						punto de encuntro Parque de la mujers
					</p>
				</div>
			</div>
		</div>

		</div>
	</section>



<!-- Footer -->
<footer class="bg1">
		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Natalia Erira &copy; 2019 
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>


<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
