<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/logoManizales.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html">
							<img src="images/icons/logoManizales.png" alt="IMG-LOGO" data-logofixed="images/icons/logoManizales.png">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="inicio">Inicio</a>
								</li>

								<li>
									<a href="rutasMtb">Rutas</a>
								</li>

								<li>
									<a href="grupos">Grupos Mtb</a>
								</li>

								<li>
									<a href="eventos">Eventos Mtb</a>
								</li>

								<li>
									<a href="contacto">Contacto</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="inicio" class="txt19">Inicio</a>
			</li>

			<li class="t-center m-b-13">
				<a href="grupos" class="txt19">Grupos Mtb</a>
			</li>

			<li class="t-center m-b-13">
				<a href="eventos" class="txt19">Eventos Mtb</a>
			</li>

			<li class="t-center m-b-13">
				<a href="contacto" class="txt19">Contactanos</a>
			</li>

			<li class="t-center">
				<!-- Button3 -->
				<a href="rutasMtb" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
					Rutas
				</a>
			</li>
		</ul>
	</aside>

	<!-- Slide1 -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
					<div class="item-slick1 item1-slick1" style="background-image: url(images/slide/slide04.jpg);">
						<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
							<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
								Bienvenido a
							</span>
	
							<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
								Manizales
							</h2>
	
							<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
								<!-- Button1 -->
								<a href="rutas.ejs" class="btn1 flex-c-m size1 txt3 trans-0-4">
									Mapa de rutas
								</a>
							</div>
						</div>
					</div>
				<div class="item-slick1 item1-slick1" style="background-image: url(images/slide/slider06.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
							Somos
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							Montaña
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
							<!-- Button1 -->
							<a class="btn1 flex-c-m size1 txt3 trans-0-4">
								Mapa de rutas
							</a>
						</div>
					</div>
				</div>
				


				<div class="item-slick1 item4-slick1" style="background-image: url(images/slide/slide02.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
							Somos
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
							Paisaje cultural cafetero
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
							<!-- Button1 -->
							<a href="rutas" class="btn1 flex-c-m size1 txt3 trans-0-4">
								Mapa de rutas
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url(images/slide/slide03.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
							conoce la fabrica de
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
							atardeceres
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
							<!-- Button1 -->
							<a class="btn1 flex-c-m size1 txt3 trans-0-4">
								Mapa de rutas
							</a>
						</div>
					</div>
				</div>

			</div>

			<div class="wrap-slick1-dots"></div>
		</div>
	</section>

	<!-- Welcome -->
	<section class="section-welcome bg1-pattern p-t-120 p-b-105">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Somos el paraiso del
						</span>

						<h3 class="tit3 t-center m-b-35 m-t-5">
							MTB
						</h3>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							En esta sección podras encontrar un mapa con la ubicación 
							de las rutas de montaña con las que contamos en la ciudad de 
							Manizales y aledaños, debido a la ubicación de nuestro municipio 
							tendras acceso a rutas de todos los niveles y con paisajes maravillosos.
						</p>

						<a href="rutasMtb" target="_blank" class="txt4">
							Nuestras rutas
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="images/slide/prueba.jpg" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Intro -->
	<section class="section-intro">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(images/slide/slide05.png);">
			

			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
					Te esperamos!!
			</h3>
		</div>

		
	<!-- Grupos mtb -->
	<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
		<div class="container">
			<div class="title-section-ourmenu t-center m-b-22">
				<span class="tit2 t-center">
					Disfruta de nuestros
				</span>

				<h3 class="tit5 t-center m-t-2">
					grupos MTB
				</h3>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-sm-6">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/arrierosBici/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">

							</div>
						</div>

						<div class="col-sm-6">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/bikeRiders/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">>

								
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/laBiciEstaDeModa/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">>

								
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="row">
						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/parceros/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">>

								
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/teamBike/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">>

								
							</div>
						</div>

						<div class="col-12">
							<!-- Item our menu -->
							<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
								<img src="images/grupos/xtremeBike/paginaInicio.jpg" alt="IMG-MENU" href="grupos" target="_blank">>

								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


	<!-- Event -->
	<section class="section-event">
		<div class="wrap-slick2">
			<div class="slick2">
				<div class="item-slick2 item1-slick2" style="background-image: url(images/eventos/eventoFeria2.jpg);">
					<div class="wrap-content-slide2 p-t-115 p-b-208">
						<div class="container">
							<!-- - -->
							<div class="title-event t-center m-b-52">
								<span class="tit2 p-l-15 p-r-15">
									Disfruta de nuestros
								</span>

								<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
									Eventos
								</h3>
							</div>

							<!-- Block2 -->
							<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
								<!-- Pic block2 -->
								<a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url(images/eventos/eventoFeria.jpg);">
									<div class="time-event size10 txt6 effect1">
										<span class="txt-effect1 flex-c-m t-center">
											06:00 AM Domingo - 05 Enero 2020
										</span>
									</div>
								</a>

								<!-- Text block2 -->
								<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30" id = "even1"  title="2020-01-20">
									<h4 class="tit7 t-center m-b-10">
										Travesia de la montaña 
									</h4>

									<p class="t-center">
											Nos vemos el próximo 5 de enero de 2020 en la ciudad de las puertas abiertas , 
											para vivir la travesía de la montaña feria de Manizales por los caminos cafeteros !! 
											Conoce las maravillas de nuestra tierra!! #mtbcolombia #feriademanizales
											 #travesiadelamontaña
									</p>

									<div class="flex-sa-m flex-w w-full m-t-40">
										<div class="size11 flex-col-c-m">
											<span class="dis-block t-center txt7 m-b-2 days">
												
											</span>

											<span class="dis-block t-center txt8">
												Dias
											</span>
										</div>

										<div class="size11 flex-col-c-m">
											<span class="dis-block t-center txt7 m-b-2 hours">
												
											</span>

											<span class="dis-block t-center txt8">
												Horas
											</span>
										</div>

										<div class="size11 flex-col-c-m">
											<span class="dis-block t-center txt7 m-b-2 minutes">
												
											</span>

											<span class="dis-block t-center txt8">
												Minutos
											</span>
										</div>

										<div class="size11 flex-col-c-m">
											<span class="dis-block t-center txt7 m-b-2 seconds">
												
											</span>

											<span class="dis-block t-center txt8">
												Segundos
											</span>
										</div>
									</div>

									<a href="eventos.ejs" target="_blank"></a> class="txt4 m-t-40">
										Mas detalles
										<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>



	<!-- Footer -->
	<footer class="bg1">
		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Natalia Erira &copy; 2019 
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

	



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
