<!DOCTYPE html>
<html lang="es">
<head>
	<title>Rutas Mtb</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/logoManizales.png"/>
<!--===============================================================================================-->
	<!-- reference to Leaflet CSS -->
<link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
 
<!-- reference to Leaflet JavaScript -->
<script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html">
							<img src="images/icons/logoManizales.png" alt="IMG-LOGO" data-logofixed="images/icons/logoManizales.png">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="inicio">Inicio</a>
								</li>

								<li>
									<a href="rutasMtb">Rutas</a>
								</li>

								<li>
									<a href="grupos">Grupos Mtb</a>
								</li>

								<li>
									<a href="eventos">Grupos Mtb</a>
								</li>

								<li>
									<a href="contacto">Contactanos</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<a href="#"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter m-l-21" aria-hidden="true"></i></a>

						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="inicio" class="txt19">Inicio</a>
			</li>

			<li class="t-center m-b-13">
				<a href="grupos" class="txt19">Grupos</a>
			</li>

			<li class="t-center m-b-13">
				<a href="eventos" class="txt19">Eventos</a>
			</li>

			<li class="t-center m-b-13">
				<a href="contacto" class="txt19">Contactanos</a>
			</li>

		
			<li class="t-center">
				<!-- Button3 -->
				<a href="rutas." class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
					Rutas
				</a>
			</li>
		</ul>

		
	</aside>


	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/slide/slider07.jpg);">
		<h2 class="tit6 t-center">
			Rutas de cicloturismo
		</h2>
	</section>



	
	<section class="section-contact bg1-pattern p-t-90 p-b-113">
		<!-- Map -->
		<div class="container">
			<div class="map bo8 bo-rad-10 of-hidden" id=containerMap>
				
				<div  id="mapa" ></div>
				<aside id="filtro">
						<h4>Filtrar rutas</h4>
						<br>
						<form name="filtrar" action="filtrar.js" method="POST">
							<div class="slidecontainer">
								<table>
									<tr>
										<td>Distancia</td>
										<td>: menor a <output type="label" id="demo"></output>Km</td>
									</tr>
								</table>
			
										
								<input type="range" min="0" max="200" value="20" class="slider" id="myRange">
							</div>
							<div class = "radio">
								
								<table>
									<tr>Dificultad tecnica</tr>
									<tr>
										<td><input type="radio" name="dific" id="alto">
											<label for="alto">Alto</label></td>
									</tr>
									<tr>
										<td><input type="radio" name="dific" id="medio">
											<label for="medio">Medio</label></td>
									</tr>
									<tr>
										<td><input type="radio" name="dific" id="baja">
											<label for="baja">Baja</label></td>
									</tr>
									<tr></tr>
									<tr>
										<td>Elevanción promedio</td>
										<td>: <output type="label" id="alt"></output>m</td>
									</tr>
								</table>
								<div id="distancia1"></div>
								<input class="range-slider__range" type="range"  min="0" max="5000" value="500" id="myRange2">
								<br>
								<br>
								<!-- Button3 -->
							<a href="rutas" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto" id="bt_filtro" onclick="prueba()">
									Filtrar
								</a>								
							</div>			
						</form>
					</aside>				
			</div>		
		</div>
	</section>
		
		

	<!-- Footer -->
	<footer class="bg1">
		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Natalia Erira &copy; 2019 
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>




<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="js/main.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="./js/map-custom.js"></script>

</body>
</html>
